<?xml version="1.0"?>
<launch>
    <param name="/use_sim_time" value="true" />

    <arg name="no_rviz" default="false"/>
    <arg name="cartographer_config_dir" 
         value="$(find muse_mcl_2d_mapping)/config"/>
    <arg name="cartographer_config" 
         value="cartographer_2d.lua" />
    <arg name="cartographer_resolution" 
         value="0.05" />
    <arg name="bag_root" value="/home/hanten/Workspace/data/rawseeds/bags" />
    <!-- <arg name="bag_file" value="Bicocca_2009-02-25a-dynamic-natural-light.bag-tf" /> -->
    <!-- <arg name="bag_file" value="Bicocca_2009-02-25b-static-artificial-light-tf" /> -->
    <!-- <arg name="bag_file" value="Bicocca_2009-02-26a-dynamic-natural-light-tf" /> -->
    <!-- <arg name="bag_file" value="Bicocca_2009-02-26b-dynamic-natural-light-tf" /> --> 
    <!-- <arg name="bag_file" value="Bicocca_2009-02-27a-static-natural-light-tf" /> -->

    <group unless="$(arg no_rviz)">
      <node name="rviz" pkg="rviz" type="rviz" required="false"
          args="-d $(find cartographer_ros)/configuration_files/demo_2d.rviz" />

      <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
          type="cartographer_occupancy_grid_node" args="-resolution 0.05" />
    </group>

    <include file="$(find rawseeds_ros)/launch/transforms.launch" />

    <node name="cartographer_offline_node" pkg="cartographer_ros"
        required="$(arg no_rviz)"
        type="cartographer_offline_node" args="
            -configuration_directory $(arg cartographer_config_dir)
            -configuration_basename  $(arg cartographer_config)
            -bag_filenames $(arg bag_root)/$(arg bag_file)"
        output="screen">
      <remap to="/sick/front" from="scan_1" />
      <remap to="/sick/rear" from="scan_2" />
    </node>
</launch>