<?xml version="1.0" ?>
<launch>
    <param name="/use_sim_time" value="true" />

    <arg name="cartographer_config_dir" 
         value="$(find muse_mcl_2d_mapping)/config"/>
    <arg name="cartographer_config" 
         value="cartographer_2d.lua" />
    <arg name="cartographer_resolution" 
         value="0.05" />
  
    <remap to="/sick/front" from="scan_1" />
    <remap to="/sick/rear" from="scan_2" />

    <node name="cartographer_node" 
          pkg="cartographer_ros"
          type="cartographer_node" 
          args="-configuration_directory $(arg cartographer_config_dir)
                -configuration_basename  $(arg cartographer_config)"
          output="screen"/>
    <node name="cartographer_occupancy_grid_node" 
          pkg="cartographer_ros"
          type="cartographer_occupancy_grid_node" 
          args="-resolution $(arg cartographer_resolution)" />

    <arg name="bag_root" value="/home/hanten/Workspace/data/rawseeds/bags" />
    <arg name="bag_file" value="Bicocca_2009-02-25b-static-artificial-light.bag" />
    <node pkg="rosbag" type="play" name="player" output="screen" args="--clock --rate 2.0 -d 5 $(arg bag_root)/$(arg bag_file)" required="true" />
    <include file="$(find rawseeds_ros)/launch/transforms.launch" />
  
</launch>