<?xml version="1.0" ?>
<launch>
    <param name="/use_sim_time" value="true"/>
    <arg name="bag_root"   value="/data/0/rawseeds/bagfiles/with_stereo"/>
    <arg name="bag_file_0" value="Bicocca_2009-02-25b-static-artificial-light-groundtruth-cartographer-with-stereo_0.bag" />
    <arg name="bag_file_1" value="Bicocca_2009-02-25b-static-artificial-light-groundtruth-cartographer-with-stereo_1.bag" />
    <arg name="bag_args"   value="--clock --rate 1.0 -s 9 -k --pause" />

    <include file="$(find rawseeds_ros)/launch/transforms_biccoca.launch"/>
    <include file="$(find rawseeds_ros)/launch/stereo.launch"/>

    <group ns="cslibs_mapping">
        <param name="node_rate" value="0.0" />

		<!-- data providers -->
        <group ns="stereo">
          <param name="class"                    value="cslibs_plugins_data::PointcloudProvider2D"/>
          <param name="base_class"               value="cslibs_plugins_data::DataProvider2D"/>
          <param name="topic"                    value="/svs_l/filtered_points"/>
          <param name="queue_size"               value="10"/>
          <param name="rate"                     value="0.0"/>
        </group>


		<!-- 3D mappers -->
		<group ns="occ_ndt_3d">
          <param name="class"      	 value="cslibs_mapping::mapper::OccupancyNDTGridMapper3D"/>
          <param name="base_class" 	 value="cslibs_mapping::mapper::Mapper"/>	
          <rosparam param="data_providers">
                ["stereo"]
          </rosparam>
          <rosparam param="map_publishers">
                ["occ_ndt_3d_pointcloud"]
          </rosparam>
		  <param name="map_frame"	 value="/odom"/>
		  <param name="resolution" 	 value="0.4"/>
		</group>


		<!-- publishers -->
		<group ns="occ_ndt_3d_pointcloud">
		  <param name="class"		    	value="cslibs_mapping::publisher::PointcloudPublisher"/>
		  <param name="base_class"	    	value="cslibs_mapping::publisher::Publisher"/>
		  <param name="rate"		    	value="10.0"/>
		  <param name="topic"		    	value="/cslibs_mapping/occ_ndt_3d/map/pointcloud"/>
		  <param name="occupancy_ndt"		value="true"/>
		</group>
    </group>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find cslibs_mapping)/config/rawseeds.rviz" required="true"/>
    <node pkg="rosbag" type="play" name="rosbag" args="$(arg bag_args) $(arg bag_root)/$(arg bag_file_0) $(arg bag_root)/$(arg bag_file_1)" required="true" output="screen"/>

    <node name="cslibs_mapping" pkg="cslibs_mapping" type="cslibs_mapping_node" output="screen" required="true" clear_params="true"/>
</launch>
