<?xml version="1.0" ?>
<launch>
    <param name="/use_sim_time" value="true" />

    <!-- using only one map, the world and map frame can be collapsed -->
    <node pkg="tf" type="static_transform_publisher" name="map_T_w" args="0 0 0 0 0 0 map world 10"/>

    <!-- <arg name="bag_file" value="Bicocca_2009-02-25a-dynamic-natural-light.bag-tf" /> -->
    <!-- <arg name="bag_file" value="Bicocca_2009-02-25b-static-artificial-light-tf" /> -->
    <!-- <arg name="bag_file" value="Bicocca_2009-02-26a-dynamic-natural-light-tf" /> -->
    <!-- <arg name="bag_file" value="Bicocca_2009-02-26b-dynamic-natural-light-tf" /> -->
    <!-- <arg name="bag_file" value="Bicocca_2009-02-27a-static-natural-light-tf" /> -->
    <!--<arg name="bag_root" value="/localhome/hanten/localization/data" /> -->
    <arg name="bag_root" value="/home/hanten/Workspace/data/rawseeds/bags" />
    <arg name="bag_file" value="Bicocca_2009-02-25b-static-artificial-light.bag" />
    <node pkg="rosbag" type="play" name="player" output="screen" args="--clock --rate 2.0 -d 5 $(arg bag_root)/$(arg bag_file)" required="true" />
    <include file="$(find rawseeds_ros)/launch/transforms.launch" />

    <group ns="cslibs_mapping_node_2d">
        <rosparam param="laser_topics">
            ["/sick/front", "/sick/rear"]
        </rosparam>
        <rosparam param="laser_queue_sizes">
            [10, 10]
        </rosparam>
 
        <param name="rate" value="70.0" />
        <param name="map_frame" value="/odom" />

        <param name="occ_map_topic"         value="/map/occ"  />
        <param name="occ_map_pub_rate"      value="10.0" />
        <param name="occ_map_resolution"    value="0.05" />

        <param name="ndt_map_topic"             value="/map/ndt" />
        <param name="ndt_map_pub_rate"          value="10.0" />
        <param name="ndt_sampling_resolution"   value="0.025" /> 
        <param name="ndt_grid_resolution"       value="1.0" />
    </group>
    <node name="cslibs_mapping_node_2d" pkg="cslibs_mapping" type="cslibs_mapping_node_2d" output="screen" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find cartographer_ros)/config/rawseeds.rviz" />

</launch>
