<?xml version="1.0" ?>
<launch>
    <param name="/use_sim_time" value="true" />

    <!-- using only one map, the world and map frame can be collapsed -->
    <node pkg="tf" type="static_transform_publisher" name="map_T_w" args="0 0 0 0 0 0 map world 10"/>

    <!-- bagfile -->
    <arg name="bag_root" value="/data/0/rawseeds/without_stereo" />
    <!--<arg name="bag_name" value="Bicocca_2009-02-25a-dynamic-natural-light-ext-groundtruth" />-->
    <arg name="bag_name" value="Bicocca_2009-02-25a-dynamic-natural-light-groundtruth-cartographer" />
    <!--<arg name="bag_name" value="Bicocca_2009-02-25b-static-artificial-light-ext-groundtruth" />-->
    <!--<arg name="bag_name" value="Bicocca_2009-02-25b-static-artificial-light-groundtruth-cartographer" />-->
    <!--<arg name="bag_name" value="Bicocca_2009-02-26a-dynamic-natural-light-ext-groundtruth" />-->
    <!--<arg name="bag_name" value="Bicocca_2009-02-26a-dynamic-natural-light-groundtruth-cartographer" />-->
    <!--<arg name="bag_name" value="Bicocca_2009-02-26b-dynamic-natural-light-ext-groundtruth" />-->
    <!--<arg name="bag_name" value="Bicocca_2009-02-26b-dynamic-natural-light-groundtruth-cartographer" />-->
    <!--<arg name="bag_name" value="Bicocca_2009-02-27a-static-natural-light-ext-groundtruth" />-->
    <!--<arg name="bag_name" value="Bicocca_2009-02-27a-static-natural-light-groundtruth-cartographer" />-->

<!--
    <arg name="bag_root" value="/data/0/rawseeds/with_stereo" />
    <arg name="bag_name" value="Bicocca_2009-02-25a-dynamic-natural-light-groundtruth-cartographer-with-stereo_0" />
-->
    <arg name="bag_file" value="$(arg bag_name).bag" />

    <!--<include file="$(find rawseeds_ros)/launch/transforms.launch" />-->
    <include file="$(find rawseeds_ros)/launch/transforms_biccoca.launch" />

    <group ns="cslibs_mapping_node_3d">
        <rosparam param="lasers_2d">
            ["/sick/front", "/sick/rear"]
        </rosparam>
        <!--<rosparam param="lasers_3d">
            ["/svs/pointcloud"]
        </rosparam>-->

        <param name="subscriber_queue_size" value="10" />
        <param name="rate" value="70.0" />
	<param name="output_path" value="" /> <!--"/data/1/rawseeds/without_stereo/output/$(arg bag_name)" -->
<!--
        <param name="occ_3d_grid_resolution" value="0.05" />
        <param name="occ_ndt_3d_grid_resolution" value="0.5" />
        <param name="ndt_3d_grid_resolution" value="0.5" />-->
    </group>

    <node name="cslibs_mapping_node_3d" pkg="cslibs_mapping" type="cslibs_mapping_node_3d" output="screen" clear_params="true" />
</launch>
